.center.hero-unit
  %h1 Welcome to Chime
  %h2
    = link_to image_tag("http://www.yoyowall.com/wallpapers/2013/03/Wall-Door-900x2880.jpg", alt: "Rails"), 'http://rubyonrails.org/'
  = link_to "Sign up now!", root_path, class: "btn btn-large btn-primary"